<h1><font size = 8><center>Assignment 3</center></font></h1>
<h1><center>Zach Chase</center></h1>

In [40]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Question 1
## Part A
Upload the data into Python and check for missing data. If there is any missing data, drop 
the cases that have the missing data.

In [2]:
data = pd.read_csv("BlueOrRed.csv")

In [3]:
data.head()

,Age,HomeOwner,Female,Married,HouseholdSize,Income,Education,Church,Undecided
0,51,1,1,1,4,171.0,15,0,1
1,46,1,1,1,6,420.0,15,1,0
2,55,1,0,1,6,132.0,16,0,1
3,50,1,0,1,4,18.0,8,0,0
4,49,1,1,1,2,66.0,15,1,1

In [7]:
data.isna().sum()

Age              0
HomeOwner        0
Female           0
Married          0
HouseholdSize    0
Income           0
Education        0
Church           0
Undecided        0
dtype: int64

## Part B
Normalize the continuous variables using min-max normalization. You should obtain a 
new dataset that has your normalized continuous input variables, the categorical input 
variables (the categorical input variables are fine and donâ€™t need to be normalized), and 
your output variable.

In [8]:
data.dtypes

Age                int64
HomeOwner          int64
Female             int64
Married            int64
HouseholdSize      int64
Income           float64
Education          int64
Church             int64
Undecided          int64
dtype: object

In [23]:
scaler = MinMaxScaler()
columns_no_transform = ['HomeOwner', 'Female', 'Married', 'Education', 'Church', 'Undecided']
data_to_transform = data.drop(columns_no_transform, axis = 1)
scaler.fit(data_to_transform)
transformed = pd.DataFrame(scaler.transform(data_to_transform), columns = ['Age', 'HouseholdSize', 'Income'])
original = data[columns_no_transform]
data = pd.concat([transformed, original], axis = 1)
data.head()

,Age,HouseholdSize,Income,HomeOwner,Female,Married,Education,Church,Undecided
0,0.523810,0.500000,0.306422,1,1,1,15,0,1
1,0.444444,0.833333,0.763303,1,1,1,15,1,0
2,0.587302,0.833333,0.234862,1,0,1,16,0,1
3,0.507937,0.500000,0.025688,1,0,1,8,0,0
4,0.492063,0.166667,0.113761,1,1,1,15,1,1

## Part C
Why do you think using min-max normalization is a better choice for this situation 
compared to using other scalers such as the Standard Scaler which standardizes the data?

## Part D
Use the train_test_split() function in the sklearn.model_selection module in scikit-learn to 
split the data into training and test sets. Your test set should be 30% of the entire data. 
Print the shape of the X_train, y_train, X_test and y_test data. You can use the default 
value of the random state in splitting the data, which is random_state=42.

In [30]:
X = data.drop(['Undecided'], axis = 1)
y = data['Undecided']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=42)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(7000, 8)
(7000,)
(3000, 8)
(3000,)

## Part E
Construct a decision tree and fit the tree into the data. Then use your decision tree model 
to make predictions on the training set as well as on the test set. Assign your results to 
y_train_pred and y_test_pred respectively. Print out the first 100 predictions for each of 
the  y_train_pred and y_test_pred.

In [38]:
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)
y_train_pred = dt.predict(X_train)
y_test_pred = dt.predict(X_test)

print('y train predictions: \n', y_train_pred[:100])
print('y test predictions: \n', y_test_pred[:100])

y train predictions:
 [0 0 0 0 1 0 0 0 0 1 0 1 0 1 1 0 0 0 0 0 0 0 0 1 1 1 0 1 1 0 0 0 0 1 1 1 0
 1 1 0 1 0 0 0 0 0 1 1 0 1 1 0 1 0 1 1 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0
 0 1 0 1 0 0 1 0 1 0 0 0 1 0 0 0 0 1 1 1 0 1 0 0 0 1]
y test predictions:
 [0 1 1 1 1 1 1 1 1 0 0 1 0 0 0 0 1 0 1 0 1 0 0 0 1 1 1 0 1 1 1 0 1 0 0 0 0
 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 1 1 1 1 1 0 0 1 0 0 1 1 1 1 0 0 1 1 0 0 0 0
 0 0 0 0 1 0 1 1 0 0 1 0 1 0 1 1 0 0 0 0 0 0 0 1 1 0]

## Part F
Find the overall accuracy of the tree model on the training set and on the test set. Use the 
accuracy_score() function in the sklearn.metrics module. Does the tree overfit the model? 
Why or why not?

In [41]:
accuracy_score(y_train_pred, y_train)

1.0

In [42]:
accuracy_score(y_test_pred, y_test)

0.968

## Part G
Also, use the .score() method of the tree estimator to find the overall accuracy on the 
training set and test set.

In [43]:
dt.score()

TypeError: score() missing 2 required positional arguments: 'X' and 'y'